:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background:#f6f6f6;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header .container{
    display: flex;
    justify-content: space-between;
}
.special.heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
    letter-spacing: -3px;
}
.special.heading + p{
    text-align: center;
    font-size: 20px;
    margin: -30px  0 0 0;
    color: #797979;
}
@media (max-width:768px) {
    .special.heading{
        font-size: 60px;
    }
    .special.heading + p{
        margin-top: -20px;
    }
}
.header{
    padding: 20px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.header .logo{
    max-width: 60px;
}
.links{
    position: relative;
    cursor: pointer;
}
.links .icons{
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.links .icons span{
    background-color: #333;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icons span:first-child{
    width: 100%;
}
.header .links .icons span:nth-child(2){
    width: 60%;
}
.header .links .icons span:last-child{
    width: 100%;
}
.header .links:hover .icons span:nth-child(2){
    width: 100%;
    transition: 0.5s ease-in-out;
}
.header .links ul{
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    margin: 0;
    padding: 0;
    background-color:var(--section-background);
    display: none;
    min-width: 200px;
}
.header .links ul::before{
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent var(--section-background) transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
.header .links:hover ul{
    display: block;
    z-index: 10;
}
.header .links ul li{
    padding: 15px;
}
.header .links ul li a{
    text-decoration: none;
   
    color: #333;
    transition: 0.5s ease-in-out;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}
.landing{
    background-image: url(../img/mountain.jpg);
    height: calc(100vh - 68.39px);
    background-size: cover;
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 324px;
    max-width: 100%;
}
.landing .intro-text h1{
    margin: 0;
    font-weight: bold;
    color: var(--main-color);
    font-size: 50px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}
.features, .portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color:var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .container .feat{
    padding: 20px;
    text-align: center;
}
.features .container .feat i{
    color: var(--main-color);
}
.features .container .feat h3{
    font-weight: 800;
    margin: 20px;
}
.features .container .feat p{
    line-height: 1.8;
    color: #333;
    font-size: 17px;
}
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services .srv i{
    flex-basis: 60px;
    color: var(--main-color);
}
.services .services .srv .text{
    flex: 1;
}
.services .services .srv .text h3{
   margin-top: 0;
}
.services .services .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .services .image{
    position: relative;
    text-align: center;
}
.services .services .image img{
    width: 260px;
}
.services .services .image::after{
    content: " ";
    background-color: var(--secondary-color);
    right: 0;
    position: absolute;
    top: -50px;
    height: calc(100% + 100px);
    width: 100px;
    z-index: -1;
}
@media (max-width:1119px){
    .services .services .image{
        display: none;
    }
}
.portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 100px;
}
.portfolio .info{
    padding: 20px;
}
.portfolio img{
    max-width: 100%;
}
.portfolio h3{
    margin:0;
}
.portfolio p{
    margin-bottom: 0;
    color: #777;
    line-height: 1.6;
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
}
@media (max-width:995px) {
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
}
.about .image{
    width: 250px;
    height: 375px;
    position: relative;
}
.about .image img{
    max-width: 100%;
}
@media (max-width:995px) {
    .about .image{
        margin: 0 auto 60px;
    }
}
.about .image::before{
    content: " ";
    position: absolute;
    background-color: var(--section-background);
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    z-index: -1;
    left: -20px;
}
.about .image::after{
    content: " ";
    position: absolute;
    width: 100px;
    height: 280px;
    border-left: 80px solid var( --main-color);
    border-bottom: 100px solid var( --main-color);
    bottom: 35px;
    z-index: -1;
    right: -150px;
}
@media (max-width:995px) {
    .about .image::before,
    .about .image::after{
        display: none;
    }
}
.about .about-content .col2{
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type{
    line-height: 2;
    font-weight: bold;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
    display: inline-block;
}
.about .about-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
.contact{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
    margin-top: calc(var(--section-padding)*2);
}
.contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label{
    font-size: 35px;
    font-weight: 800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info a{
    display: block;
    font-size: 35px;
    text-decoration: none;
    color: var(--main-color);
    font-weight: 800;
}
.contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 16px;
}
.contact .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .info a,
    .contact .info .label{
        font-size: 25px;
    }
}
.footer{
    background-color: var(--secondary-color);
    padding: 20px 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.footer span{
    color: var(--main-color);
    font-weight: 800;
}